* {
  margin: 0;
  border: 0;
  padding: 0;
}
body {
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}
#threeJS-container {
  z-index: -1;
}
.UI {
  position: absolute;
  z-index: 15000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  font-size: 2.2rem;
}
.UI img{
  height: 1em;
}
.small-fonts {
  font-size: 0.5em;
  color: #aaa;
}
.normal-fonts, .normal-fonts a {
  font-size: 1em;
  color: #ccc;
}
.normal-fonts a:hover {
  color: #fff;
}
.large-fonts, .large-fonts a {
  font-size: 1em;
  color: #fff;
}
.links a {
  text-decoration: none;
}
.hamburger, .closebtn {
  position: absolute;
  visibility: hidden;
}
.brand {
  margin: 0.8rem 0 0 0.5rem;
}
.terminator-font {
  font-family: 'Terminator Real NFI';
  font-weight: normal;
}
#blender-club-logo {
  position: relative;
  top: 0.25rem;
}
.navbar-contents {
  position: absolute;
  bottom: 1.3em;
  left: 1em;
  font-size: 0.7em;
  font-weight: 900;
}
.navbar-contents li {
  display: inline;
  margin-right: 12px;
}
.copyright {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.reference-img {
  position: absolute;
  bottom: 0.5em;
  right: 0.5em;
}
.reference-img img {
  display: block;
  float: right;
}
.active {
  color: #fff;
}
.skip-line::after {
  content: "\A";
  white-space: pre;
}
@media screen and (max-width: 768px) {
  .hamburger, .closebtn {
    visibility: visible;
  }
  .large-fonts a {
    font-size: 1.6em;
  }
  #blender-club-logo {
    top: 0.15rem;
  }
  .UI {
    font-size: calc(0.9rem + 1vw);
  }
  .hamburger, .closebtn {
    top: 0.5em;
    right: 0.5em;
  }
  .hamburger img {
    height: 1.5em;
  }
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 0%;
    width: 100%;
    overflow-x: hidden;
    transition: 0.3s;
  }
  .dark-filter {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.8);
  }
  .navbar-contents {
    position: static;
    bottom: auto;
    margin-top: 1em;
    margin-left: 0.4em;
    font-size: 2.5em;
    line-height: 1.5em;
  }
  .navbar-contents li {
    display: block;
    margin-right: 0;
  }
  .reference-img {
    position: static;
    text-align: center;
    margin: 1em;
  }
  .reference-img img {
    display: inline;
    float: none;
    height: 2.6em;
    margin-right: 2.5em;
  }
  .copyright {
    position: static;
  }
  .small-fonts {
    font-size: 0.8em;
    color: #fff;
  }
  .skip-line::after {
    content: none;
    white-space: normal;
  }
}
