body {
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-size: 2.2rem;
}
#threeJS-container {
  background-color: #000;
}
.UI-threeJS {
  position: absolute;
  height: 0%;
  width: 100%;
}
.ui-top {
  top: 0;
}
.ui-bottom {
  bottom: 0;
  transition: 0.2s;
}
.hamburger {
  display: none;
}
.closebtn-container {
  visibility: hidden;
}
.terminator-font {
  font-family: 'Terminator Real NFI';
}
.pointer {cursor: pointer;}
h1, h2, h3, h4, h5, h6, p, a, span, strong {
  color: white;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
img {
  max-height: 1em;
}
.brand {
  position: fixed;
  margin: 0.8rem 0 0 0.5rem;
}
.brand img {
  position: relative;
  top: 0.25rem;
}
.brand h1 {
  font-size: 1em;
  display: inline;
}
.navbar-container {
  position: relative;
  bottom: 0;
  height: 0%;
  width: 100%;
}
.navbar {
  position: absolute;
  bottom: 1.2rem;
  left: 1em;
}
.navbar ul {
  margin: 0;
  padding: 0;
}
.navbar li {
  display: inline;
  margin-right: 6px;
  padding: 4px;
  font-weight: 900;
}
.navbar li a:hover {
  color: #ffbe1b;
  text-shadow: 0px 5px 20px #fff1ce;
}
.navbar li:first-of-type {
  font-size: 1.2em;
  border: 2px solid #ff9605;
  border-radius: 8px;
}
.external-link {
  position: absolute;
  right: 1em;
  bottom: 0.5em;
}
.external-link img {
  margin-bottom: 12px;
  float: right;
}
.copyright {
  position: absolute;
  bottom: 1.1em;
  width: 100%;
  height: 0%;
  text-align: center;
}
.copyright strong {
  font-size: 0.5em;
  color: #aaa;
}
@media screen and (max-width: 900px) {
  .hamburger {
    display: block;
  }
  .hamburger img {
    max-height: 2em;
    height: 1.4em;
    margin-top: -0.4rem;
  }
  .hamburger {
    position: fixed;
    top: 0.5em;
    right: 0.5em;
  }
  .external-link img {
    max-height: 2em;
    height: 2em;
    margin-right: 8px;
  }
  .ui-top {
    top: 0;
  }
  .ui-bottom {
    top: 0;
    height: 0%;
    width: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.8);
  }
  .navbar-container {
    position: relative;
    top: 0;
    height: 100%;
    width: 100%;
    margin-left: 1em;
    overflow-y: auto;
  }
  .closebtn-container {
    display: inline;
    position: relative;
    visibility: visible;
    float: right;
    margin-bottom: -2rem;
    margin-top: 1rem;
    margin-right: 3.5rem;
    font-size: 1.4em;
    background-color: #ff9605;
    border-radius: 12px;
    padding: 0px 8px;
  }
  .navbar {
    display: inline-block;
    position: static;
    margin-top: 6rem;
  }
  .navbar ul {
    padding-left: 1em;
  }
  .navbar li {
    display: block;
    margin-right: 0;
    padding: 0;
    line-height: 1.5em;
    font-size: 1.5em;
  }
  .navbar li:first-of-type {
    font-size: 1.7em;
    border: 2px solid #ff9605;
    border-radius: 8px;
  }
  .external-link {
    position: relative;
    right: auto;
    margin: 2rem 0rem 2rem 4rem;
    max-height: 2em;
    height: 2em;
  }
  .external-link img {
    margin-bottom: 0;
    float: none;
  }
  .copyright {
    position: relative;
    bottom: auto;
    margin-top: -4rem;
    margin-left: -2rem;
  }
  .copyright strong {
    font-size: 0.5em;
    color: #aaa;
  }


}

@media screen and (max-width: 620px) {
  body {
    font-size: calc(1rem + 5vw);
  }
  .navbar {
    display: inline-block;
    position: static;
    margin-top: 4rem;
  }
  .brand {
    position: fixed;
    margin: 0 0 0 0.3rem;
  }
  .brand img {
    position: relative;
    top: 0.15rem;
    height: 0.55em;
  }
  .brand h1 {
    font-size: 0.55em;
    display: inline;
  }
  .hamburger img {
    height: 1em;
    margin-bottom: 0.6rem;
    margin-right: -1rem;
  }
  .external-link img {
    height: 1.5em;
  }
  .navbar ul {
    padding-left: 0;
  }
  .external-link {
    margin: 2rem auto;
  }
  .closebtn-container {
    margin-right: calc(0.5rem + 5vw);
  }
